.grid-container {
    display: grid;
    /* display property is set to grid or inline-grid. */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: 50px 100px; */
    column-gap: 5px;
    row-gap: 5px;
    /* gap: 50px 200px; */
    /* gap: 50px */
    background-color: #2196F3;
    padding: 10px;
    /* grid-template-areas: 'myArea myArea myArea myArea myArea'; */
    grid-template-areas: 'myArea myArea ..  ..';
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /*0.8 คือการโปร่งแสง*/
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.item1 {
    grid-area: myArea;
    /* grid-column: 2 / span 3;
    grid-column-start: 2;
    grid-column-end: 4; */
}

/* .item2 {
    grid-row: 1 / span 1;

} */

/* .item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
} */

/* .item8 {
    grid-area: 1 / 2 / 5 / 6;
} */

/* .item10 {
    grid-row-start: 3;
    grid-row-end: 3;
} */